@font-face {
    font-family: "fontMario";
    src: url("../../../assets/fonts/jogos/supermario/SuperMario256.ttf");
}


.supermario-display {
    width: 280px;
    height: 327px;
}

.supermario-container-jogo {
    width: 100%;
    height: 327px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.supermario-container-pontuacao {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: space-between;
    position: relative;
    top: 10px;
    z-index: 2;
}

.supermario-container-pontuacao div {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.supermario-container-pontuacao .supermario-pontuacao-direita {
    padding-left: 10px;
    align-items: flex-start;
}

.supermario-container-pontuacao .supermario-pontuacao-esquerda {
    padding-right: 10px;
    align-items: flex-end;
}

.supermario-container-pontuacao h1 {
    padding: 0;
    margin: 0;
    font-family: "fontMario";
    color: white;
    text-shadow: 2px 2px 1px rgba(62, 62, 62, 0.8);
    font-size: 15px;
}

.supermario-container-pontuacao p {
    padding: 0;
    margin: 0;
    font-family: "fontMario";
    color: white;
    text-shadow: 2px 2px 1px rgba(62, 62, 62, 0.8);
    transition: color 500ms;
    font-size: 14px;
}

.supermario-cano {
    position: absolute;
    bottom: 30px;
    width: 45px;
    animation: supermario-cano-animation 1.5s infinite linear;
    z-index: 3;
}

.supermario-mario {
    width: 75px;
    position: absolute;
    bottom: 30px;
    z-index: 2;
}

.supermario-pular {
    animation: supermario-pular-animation 500ms ease-out;
}

.supermario-chao {
    position: absolute;
    width: 100%;
    height: 40px;
    animation: supermario-chao-animation 1.5s infinite linear;
    overflow: hidden;
    position: absolute;
    bottom: -10px;
}

.supermario-chao-continuo {
    position: absolute;
    width: 100%;
    height: 40px;
    right: -100%;
    animation: supermario-chao-continuo-animation 1.5s infinite linear;
    overflow: hidden;
    position: absolute;
    bottom: -10px;
}

.supermario-nuvens {
    width: 200px;
    position: absolute;
    animation: supermario-nuvens-animation 20s infinite linear;
    z-index: 1;
}

.supermario-gameover {
    height: 327px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    margin-top: -29px;
    display: none;
}

.supermario-gameover h1 {
    font-family: "fontMario";
    color: white;
    font-size: 20px;
}

.supermario-btn-resetar {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    cursor: pointer;
    transition: all .2s;
    margin-top: 20px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.supermario-btn-resetar:hover {
    background: rgba(0, 0, 0, 0.3);
}


@keyframes supermario-cano-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes supermario-chao-animation {
    from {
        right: 0px;
    }

    to {
        right: 100%;
    }
}

@keyframes supermario-chao-continuo-animation {
    from {
        right: -100%;
    }

    to {
        right: 0%;
    }
}

@keyframes supermario-pular-animation {
    0% {
        bottom: 30;
    }

    40% {
        bottom: 150px;
    }

    50% {
        bottom: 150px;
    }

    60% {
        bottom: 140px;
    }

    70% {
        bottom: 130px;
    }

    80% {
        bottom: 120px;
    }

    100% {
        bottom: 30;
    }
}

@keyframes supermario-nuvens-animation {
    from {
        right: -200px;
    }

    to {
        right: 100%;
    }
}